body{
    background-image: url(background.png);
    width:100%;
    height:100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: url('custom-cursor.png'), auto;
    background-attachment: fixed;
    margin-top: 2em;
  }
  
  .custom-cursor {
      cursor: url('custom-cursor.png'), auto;
    }
  
  .heading h3{
    color: white;
    margin: 0;
    font-size: 3em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    }
  .heading{
    display: flex;
    justify-content: space-between;
    border-radius: 80px;
    background: rgba(0, 0, 0, 0.16); 
    padding-top: 0.5em; 
    padding-bottom: 0.5em;
    max-width: 90%;
    margin: 0 auto;
    }

    @media screen and (max-width: 1284px) {
        .heading {
          flex-direction: column;
          align-items: center;
          text-align: center;
        }
      
        .heading h3 {
          font-size: 2em; /* Adjust font size for small screens */
          margin-bottom: 0.5em;
        }
      }

      .container{
        display: flex;
        width: 100%;
        position: relative;
        flex-direction: row;
        justify-content: center;
        margin-right: 30px;
        margin-left: 60px;
      }

      .left{
        display: flex;
        width: 50%;
        position: relative;
        flex-direction: column;
        margin-top: 10vh;
        /* margin-left: 15vh; */
      }
      .right{
        display: flex;
        width: 40%;
        position: relative;
        flex-direction: column;
        margin-top: 10vh;
      }
      .image {
        max-width: 80%; 
        margin-bottom: 7vh; 
    }
    .left p {
        margin-top: 1em;
        font-size: 3em;
        
    }

    @media only screen and (max-width: 1284px) {
        .square-button {
            width: 80%;
            font-size: 1.5rem;
        }
        p {
            font-size: 1rem;
        }
        h1{
            font-size: 20px;
        }
        .left p {
            font-size: 1em; 
        }
    }
    
    .button{
      display: flex;
      justify-content: space-around;
      padding-top: 5.5em;
      padding-bottom: 5.5em;
    }
    .button a img {
      width: 100%; 
      height: auto; 
      max-width: 100%;
    }
    
    
    @media only screen and (min-width: 1152px) {
      .button a img {
          max-width: 80vw; 
      }
    }
    
    @media only screen and (min-width: 428px) {
      .button a img {
          max-width: 428px;
      }
    }

    .introduce{
        display: flex;
        width: 100%;
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 20px;
        background: rgba(38, 38, 38, 0.19);
        max-width: 70%;
        margin: 0 auto;
        margin-top: 5vh;
        margin-bottom: 80px;
      }

     .display {
        display: flex;
        justify-content: center;
        align-items: center; 
        margin: 30px; 
      }
      
      .brush-image {
        max-width: 100%;
      }

      .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .description h4 {
        font-size: 1.5em; 
        text-align: center;
        color: white;
        margin-bottom: 0.5em; 
        margin-left: -0.5em;

        
    }
      .description p {
        font-size: 1.5em; 
        color: white;
        margin-top: 0.5em; 
    }

    
    @media only screen and (max-width: 1284px) {
        .introduce {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    
        .description {
            margin: 10px; 
        }
    
        .description p {
            font-size: 1.2em; 
        }
    }
    
      .square-button {
        width: 50%; 
        max-width: 300px; 
        height: auto;
        border-radius: 20px;
        background: #B8B5B5;
        text-align: center;
        font-size: 2rem; 
        font-weight: 400;
        margin: 20px auto; 
        padding: 10px; 
    }

    