*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: RammettoOne;
    src: url("RammettoOne-Regular.ttf");
}
body{
    cursor: url('custom-cursor.png'), auto;
    width: 100%;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.custom-cursor {
    cursor: url('custom-cursor.png'), auto;
  }
  
.heading h3{
    color: white;
    margin: 0;
    font-size: 3em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    }
    .heading{
    display: flex;
    justify-content: space-between;
    border-radius: 80px;
    background: rgba(0, 0, 0, 0.16); 
    padding-top: 0.8em; 
    padding-bottom: 0.5em;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    }
    
    @media screen and (max-width: 1284px) {
        .heading {
          flex-direction: column;
          align-items: center;
          text-align: center;
        }
      
        .heading h3 {
          font-size: 2em; /* Adjust font size for small screens */
          margin-bottom: 0.5em;
        }
      }
    

h1{
    font-size: 128px;
    font-family: RammettoOne;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
}
p{
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.meme{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    gap: 160px;
}

.a{
    width: 200px;
    aspect-ratio: 1/1;
}
.a:hover img{ 
    transform: scale(1.5);
}

.mimi{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    gap: 160px;
}
.b{
    width: 200px;
    aspect-ratio: 1/1;
}
.b:hover img{ 
    transform: scale(1.5);
}
@media only screen and (max-width: 128400px) {
    .square-button {
        width: 80%;
        font-size: 1.5rem;
    }
    p {
        font-size: 1.4rem;
  
    }
    h1{
        font-size: 20px;
    }
  }
  
  .button{
  display: flex;
  justify-content: space-around;
  padding-top: 5.5em;
  padding-bottom: 5.5em;
  }
  .button a img {
  width: 100%; 
  height: auto; 
  max-width: 100%;
  }
  
  
  @media only screen and (max-width: 1284px) {
  .button a img {
      width: 90%;
      padding-left: 5px;
  }
  }
  
  .square-button {
    width: 50%; 
    max-width: 300px; 
    height: auto;
    border-radius: 20px;
    background: #B8B5B5;
    text-align: center;
    font-size: 2rem; 
    font-weight: 400;
    margin: 20px auto; 
    padding: 10px; 
  }
  
  
  .introduce{
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
    background: rgba(38, 38, 38, 0.19);
    max-width: 70%;
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 80px;
  }
  
  .display {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 30px; 
  }
  
  .brush-image {
    max-width: 100%;
  }
  
  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .description h4 {
    font-size: 1.5em; 
    text-align: center;
    color: white;
    margin-bottom: 0.5em; 
    margin-left: -0.5em;
  
    
  }
  .description p {
    font-size: 1.5em; 
    color: white;
    margin-top: 0.5em; 
  }
  
  
  @media only screen and (max-width: 128400px) {
    .introduce {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
  
    .description {
        margin: 10px; 
    }
  
    .description p {
        font-size: 1.2em; 
    }
  }