  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    cursor: url('custom-cursor.png'), auto;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    overflow-x: hidden;
    scroll-behavior: smooth;
}
.custom-cursor {
    cursor: url('custom-cursor.png'), auto;
  }

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
header #logo{
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul{
    display: flex;
    justify-content: right;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration:none;
    color: #fff;
    padding: 6px 25px;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active{
    background-color: #fff;
    color: black;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    height: 200px;
    width: 100%;
    background: linear-gradient(to top,#3f3f3f,transparent); 
    z-index: 1000;
    
}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#moon{
    mix-blend-mode: screen;
}
section img#mountain_front{
    z-index: 15;
}
section #text{
    position: absolute;
    color: #fff;
    font-size: 4.5vw;
    white-space: nowrap;
    z-index: 10;
    transform: translateY(100px);
    right: -350px;
}
section #btn{
    text-decoration: none;
    color: black;
    padding: 8px 30px;
    border-radius: 20px;
    background-color: #fff;
    font-size: 1.5em;
    z-index: 10;
    display: inline-block;
}
.sec{
    position: relative;
    padding: 30px;
    background-color: black;
    z-index: 200px;
}
.sec h2{
    font-size: 4em;
    color: #fff;
    width: 100%;
}
.sec p{
    color: #fff;
    font-size: 1.2em;
}

.menu-box{
    width: 60px;
    height: 400px;
    background-color: rgb(0, 0, 0); 
    box-shadow: 1px 1px 2px rgba(149, 149, 149, 0.3);
    border-radius: 20px;
    /* add transiaction */
    transition: all .2s ease-out;
    overflow: hidden;
    animation: jitter.2s; 
}

.menu-box:hover {
    width: 120px;
    border-radius: 60px;
}

/* hover to let the word appear */
.menu-box:hover>ul>li p {
    display: block;
}

ul {
    width: 100%;
    height: 100%;
}

li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    text-decoration: none;
    /* deselect */
    user-select: none;
}

li:hover {
    background-color: #4f4f4f;
}

li:hover .content,

.content {
    display: none;
    color: #fff;
}

/* animation copy form internet */
@keyframes jitter {
    0% {
        transform: scale(1.2) rotate(10deg);
    }

    50% {
        transform: scale(0.8) rotate(-10deg);
    }

    0% {
        transform: scale(1.0) rotate(0deg);
    }
}

.button{
    display: flex;
    justify-content: space-around;
    background-color: #D7D7D7;
    padding-top: 3.5em;
    padding-bottom: 2em;
    padding-left: 1.5em;
}
.button a img {
    width: 100%; 
    height: auto; 
    max-width: 100%;
}


@media only screen and (min-width: 1152px) {
    .button a img {
        max-width: 80vw; 
    }
}

@media only screen and (min-width: 428px) {
    .button a img {
        max-width: 428px;
    }
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    place-items: center;
    margin-bottom: 80px;
    margin-top: 80px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 2 / 1 / 3 / 2; }
.div5 { grid-area: 2 / 2 / 3 / 3; }
.div6 { grid-area: 2 / 3 / 3 / 4; }

@media only screen and (max-width: 600px) {
    .parent {
        grid-template-columns: repeat(1, 1fr); 
        margin: 20px; 
    }

    .div1, .div2, .div3, .div4, .div5, .div6 {
        grid-area: auto;
        margin-bottom: 20px; 
    }
}


h1{
    font-size: 5em;
    color: #fff;
    padding-left: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family: sans-serif;
}
p{
    font-size: 3.5em;
    color: #fff;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family: sans-serif;
}
h2{
    font-family: sans-serif;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 3em;
        padding-left: 1em;
    }

    p {
        font-size: 2em;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
    .sec h2{
        font-size: 2em;
    }

}