body{
   background-image: url(background.png);
   width:100%;
   height:100vh;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   cursor: url('custom-cursor.png'), auto;
   background-attachment: fixed;
   margin-top: 2em;
 }
 
 .custom-cursor {
     cursor: url('custom-cursor.png'), auto;
   }
 
 
 
 .heading h3{
   color: white;
   margin: 0;
   font-size: 3em;
   padding-left: 1.5em;
   padding-right: 1.5em;
 }
 .heading{
   display: flex;
   justify-content: space-between;
   border-radius: 80px;
   background: rgba(0, 0, 0, 0.16); 
   padding-top: 0.8em; 
   padding-bottom: 0.8em;
   max-width: 95%;
   margin: 0 auto;
 }
 
 
 @media screen and (max-width: 1284px) {
   .heading {
     flex-direction: column;
     align-items: center;
     text-align: center;
   }
 
   .heading h3 {
     font-size: 2em; /* Adjust font size for small screens */
     margin-bottom: 0.5em;
   }
 }

.wrap {
   margin: 0 auto;
   width: 600px;
   height: 600px;
   overflow: hidden;
}
.box{
   width: calc(600px * 7);
   animation: swiper 60s linear infinite;
}
.box img{
   float: left;
   width: 400px;
   height: 600px;
}

/* Code for rotating image */
@keyframes swiper {
   0% {
      transform: translateX(0);
   }
   12.5% {
      transform: translateX(-600px);
   }
   25% {
      transform: translateX(-1200px);
   }
   37.5% {
      transform: translateX(-1800px);
   }
   50% {
      transform: translateX(-2400px);
   }
   62.5% {
      transform: translateX(-3000px);
   }
   75% {
      transform: translateX(-3600px);
   }
   87.5% {
      transform: translateX(-4200px);
   }
   100%{
      transform: translateX(0);
   }
}
.container img{
   width: 400px;
   display: flex;
   align-items: center;
   
}
.container{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin-top: 5vw;
   margin-bottom: 3vw;
}
p{
   font-size: 5em;
   margin-left: 7vw;
   margin-right: 7vw;
  text-align: center;
   
}

.introduce{
   display: flex;
   width: 100%;
   position: relative;
   flex-direction: row;
   justify-content: space-between;
   border-radius: 20px;
   background: rgba(38, 38, 38, 0.19);
   max-width: 70%;
   margin: 0 auto;
   margin-top: 5vh;
   margin-bottom: 80px;
 }
 
 .display {
   display: flex;
   justify-content: center;
   align-items: center; 
   margin: 30px; 
 }
 
 .brush-image {
   max-width: 100%;
 }
 
 .description {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 .description h4 {
   font-size: 1.5em; 
   text-align: center;
   color: white;
   margin-bottom: 0.5em; 
   margin-left: -0.5em;
 
   
 }
 .description p {
   font-size: 1.5em; 
   color: white;
   margin-top: 0.5em; 
 }
 
 
 @media only screen and (max-width: 128400px) {
   .introduce {
       flex-direction: column;
       align-items: center;
       text-align: center;
   }
 
   .description {
       margin: 10px; 
   }
 
   .description p {
       font-size: 1.2em; 
   }
 }
 
 .square-button {
   width: 50%; 
   max-width: 300px; 
   height: auto;
   border-radius: 20px;
   background: #B8B5B5;
   text-align: center;
   font-size: 2rem; 
   font-weight: 400;
   margin: 20px auto; 
   padding: 10px; 
 }

 @media only screen and (max-width: 128400px) {
   .square-button {
       width: 80%;
       font-size: 1.5rem;
   }
   p {
       font-size: 1.4rem;
 
   }
   h1{
       font-size: 20px;
   }
}

.button{
 display: flex;
 justify-content: space-around;
 padding-top: 5.5em;
 padding-bottom: 5.5em;
}
.button a img {
 width: 100%; 
 height: auto; 
 max-width: 100%;
}


@media only screen and (max-width: 1284px) {
 .button a img {
     width: 90%;
     padding-left: 5px;
 }
}
