body{
    background-color: black;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}
.light{
    width: 100%;
    height: 100%;
    background-image: url(A.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    clip-path: circle(100px at 600px 800px);
}
header{
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-sizing: border-box;
}
header #logo{
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration:none;
    color: #fff;
    padding: 6px 25px;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active{
    background-color: #fff;
    color: #000000;
}