*{  padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: RammettoOne;
    src: url(RammettoOne-Regular.ttf);
    font-family: Stanberry;
    src: url(Stanberry.ttf);
}

body{
    background-image: url(background.gif);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
}

h1{
    /* font-family: RammettoOne; */
    color: white;
    font-size: 220px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;

}
h2{
    font-family: Stanberry;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;

}

.image{
    max-width: 10%;
    padding: 0 10px;
}
img{
    width: 450px;
}
.parent { 
    display: grid; 
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: repeat(12, 1fr); 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    }
    .div1 { grid-area: 1 / 2 / 3 / 4; } 
    .div2 { grid-area: 1 / 4 / 3 / 6; } 
    .div3 { grid-area: 1 / 6 / 3 / 8; } 
    .div4 { grid-area: 1 / 8 / 3 / 10; } 
    .div5 { grid-area: 1 / 10 / 3 / 12; } 
    .div6 { grid-area: 4 / 2 / 6 / 4; } 
    .div7 { grid-area: 4 / 4 / 6 / 6; } 
    .div8 { grid-area: 4 / 6 / 6 / 8; } 
    .div9 { grid-area: 4 / 8 / 6 / 10; } 
    .div10 { grid-area: 4 / 10 / 6 / 12; } 

    .text{
        display: flex;
        flex-direction: row;
        font-size: 80px;
        flex-wrap: wrap;
        position: absolute;
        top: 20%;
        left: 10%;
    }

.text div{
    padding: 4%;
    padding-top: 18%;
}
