*{  padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
@font-face {
    font-family: Stanberry;
    src: url(Stanberry.ttf);
}
@font-face{
    font-family: RammettoOne;
    src: url(RammettoOne-Regular.ttf);
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
header #logo{
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration:none;
    color: #fff;
    padding: 6px 25px;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active{
    background-color: #fff;
    color: #2b1065;
}

body{
    background-image: url(background.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    cursor: url('custom-cursor.png'), default;
}

h1{
    font-family: RammettoOne;
    color: white;
    font-size: 8vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;

}
h2{
    font-family: Stanberry;
    font-size: 3vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;

}

.image{
    max-width: 100%;
    padding: 0 10px;
}
img{
    flex-grow: 1;
}
/* .parent { 
    display: grid; 
    grid-template-columns: repeat(2, 200px); 
    grid-template-rows: repeat(2, 200px); 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    width: 100%;
    flex-grow: 1;
    } */
 .parent a {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: stretch;
        flex-direction: column;
        cursor: url('custom-cursor.png'), pointer;
      }
    /* .div1 { grid-area: 4 / 2 / 6 / 4; } 
    .div2 { grid-area: 4 / 4 / 6 / 6; } 
    .div3 { grid-area: 4 / 6 / 6 / 8; } 
    .div4 { grid-area: 4 / 8 / 6 / 10; } 
    .div5 { grid-area: 4 / 10 / 6 / 12; } 
    .div6 { grid-area: 8 / 2 / 10 / 4; } 
    .div7 { grid-area: 8 / 4 / 10 / 6; } 
    .div8 { grid-area: 8 / 6 / 10 / 8; } 
    .div9 { grid-area: 8 / 8 / 10 / 10; } 
    .div10 { grid-area: 8 / 10 / 10 / 12; }  */
    .parent { 
        display: grid; 
        grid-template-columns: repeat(5, 1fr); 
        grid-template-rows: repeat(2, 1fr); 
        grid-column-gap: 60px;
        grid-row-gap: 30px; 
        width: 100%;
        padding: 0 6px;
        margin-top: 160px;
        }
        .div1 { grid-area: 1 / 1 / 2 / 2; } 
        .div2 { grid-area: 1 / 2 / 2 / 3; } 
        .div3 { grid-area: 1 / 3 / 2 / 4; } 
        .div4 { grid-area: 1 / 4 / 2 / 5; } 
        .div5 { grid-area: 1 / 5 / 2 / 6; } 
        .div6 { grid-area: 2 / 1 / 3 / 2; } 
        .div7 { grid-area: 2 / 2 / 3 / 3; } 
        .div8 { grid-area: 2 / 3 / 3 / 4; } 
        .div9 { grid-area: 2 / 4 / 3 / 5; } 
        .div10 { grid-area: 2 / 5 / 3 / 6; } 
        
    .text{
        display: flex;
        font-size: 3vw;
        flex-wrap: wrap;
        position: absolute;
        top: 20%;
        left: 5%;
    }

.text div{
    /* padding: 4%;
    padding-top: 18%; */
    padding: 4%;
    line-height: 6.2;
}

@media screen {
    
}

