*{  padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: RammettoOne;
    src: url("RammettoOne-Regular.ttf");
}

body{
    background-color: black;
}
h1{
    font-family: RammettoOne;
    color: #D43182;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.square{
    text-align: center;
    display: flex;
    
    width: 90%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 0;

}
.texture{
    width: 100%;
}
.texture img {
    width: 100%;
    height: auto; 
}

.heading{
   display: flex;
   position: relative;
    z-index: 1;
}
.box{
    max-width: 100%;
    height: 100%;
    /* display: flex;
    flex-wrap: wrap;
    padding: auto; */
}
.image{
    max-width: 10%;
    padding: 0 10px;
}
img{
    width: 500px;
}
.parent {   
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    z-index: 1;
    top: 0;    
    display: grid; 
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: repeat(12, 1fr); 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}
.div1 { grid-area: 5 / 2 / 7 / 4; } 
.div2 { grid-area: 4 / 5 / 6 / 7; } 
.div3 { grid-area: 4 / 10 / 6 / 12; } 
.div4 { grid-area: 6 / 8 / 8 / 10; } 
.div5 { grid-area: 8 / 4 / 10 / 6; } 
.div6 { grid-area: 9 / 2 / 11 / 4; } 
.div7 { grid-area: 10 / 5 / 12 / 7; } 
.div8 { grid-area: 10 / 10 / 12 / 12; } 
.div9 { grid-area: 9 / 7 / 11 / 9; } 

h2{
    font-size: 50px;
    font-family: RammettoOne;

}
h4{
    font-size: 40px;
    color: #7e7077;
}
.mantra{
    width: 550px;
    position: absolute;
    top: 450px;
    left: 280px;
}
.photo{
    width: 550px;
    position: absolute;
    top: 850px;
    left: 800px;
}
.poster{
    width: 700px;
    position: absolute;
    top: 500px;
    left: 1340px;
}
.xiangshu{
    width: 550px;
    position: absolute;
    top: 1100px;
    left: 200px;
}
.illu{
    width: 550px;
    position: absolute;
    top: 1100px;
    left: 1300px;
}
.collage{
    width: 900px;
    position: absolute;
    top: 850px;
    left: 1850px;
}
.beans{
    width: 900px;
    position: absolute;
    top: 1650px;
    left: 130px;
}
.fofo{
    width: 700px;
    position: absolute;
    top: 1630px;
    left: 1250px;
}
.book{
    width: 700px;
    position: absolute;
    top: 1250px;
    left: 1900px;
}