*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    cursor: url('custom-cursor.png'), auto;
    height: 100vh;
    background-image: url(left.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

  header {
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  #shape {
    position: absolute;
    left: 0;
    bottom: -2vw;
  }
  img:not(#shape) {
    position: absolute;
    left: 0;
  }
  /* selecting the first image child of the header */
  header img:nth-child(1) {
    opacity: 0.4;
    bottom: -0.1vw;
    animation: move-1 5s infinite;
  }
  @keyframes move-1 {
    50% {
      transform: translateY(15px);
    }
  }
  header img:nth-child(2) {
    opacity: 0.3;
    bottom: 0.5vw;
    animation: move-2 4s infinite;
  }
  @keyframes move-2 {
    50% {
      transform: translateY(35px);
    }
  }
  header img:nth-child(3) {
    bottom: 0.3vw;
    opacity: 0.2;
    animation: move-3 3.5s infinite;
  }
  @keyframes move-3 {
    50% {
      transform: translateY(25px);
    }
  }
  header img:nth-child(4) {
    bottom: 0.1vw;
    opacity: 0.3;
    animation: move-4 3s infinite;
  }
  @keyframes move-4 {
    50% {
      transform: translateY(20px);
    }
  }
 