*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  cursor: url('custom-cursor.png'), auto;
  width: 100%;
  background-image: url(background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.heading h3{
color: white;
margin: 0;
font-size: 3em;
padding-left: 1.5em;
padding-right: 1.5em;
}
.heading{
display: flex;
justify-content: space-between;
border-radius: 80px;
background: rgba(0, 0, 0, 0.16); 
padding-top: 0.5em; 
padding-bottom: 0.5em;
max-width: 90%;
margin: 0 auto;
}

@media screen and (max-width: 1284px) {
    .heading {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .heading h3 {
      font-size: 2em; /* Adjust font size for small screens */
      margin-bottom: 0.5em;
    }
  }


  .container1 {
    margin-left: 7vw;
    margin-top: 10vh;
    display: flex;
    align-items: center;
}
.container1 p{
  flex: 1;
  margin-right: 40vw;
  font-size: 2em;
}
.container1 img{
  width: 20%;
  margin-left: 70vw;
  margin-top: -8vw;
}




.container2 {
    display: flex;
    width: 85%;
    position: relative;
    flex-direction: row;
    justify-content: center;
    margin-left: 7vw;
}

.left {
    display: flex;
    width: 50%;
    position: relative;
    flex-direction: column;
    margin-top: 10vh;
}
.left img{
  width: 80%;
}

.right {
    display: flex;
    width: 50%;
    position: relative;
    flex-direction: column;
    margin-top: 10vh;
}

.top,
.bottom {
  margin-bottom: 10vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px; 
    align-items: center;
}
.bottom {
  flex-direction: row-reverse;
}

.top img,
.bottom img {
    width: 45%; 
}
.bottom img{
  margin-left: 22vw;
}
.top p {
    margin-top: 10px; 
    margin-left: 25vw;
    width: 35%;
    font-size: 2em;
}

.bottom p{
  margin-right: 25vw;
  font-size: 2em;
}


header {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}
#shape {
  position: absolute;
  left: 0;
  bottom: -2vw;
}
img:not(#shape) {
  position: absolute;
  left: 0;
}

/* selecting the first image child of the header */
header img:nth-child(1) {
  opacity: 0.4;
  bottom: -0.1vw;
  animation: move-1 5s infinite;
}
@keyframes move-1 {
  50% {
    transform: translateY(15px);
  }
}
header img:nth-child(2) {
  opacity: 0.3;
  bottom: 0.5vw;
  animation: move-2 4s infinite;
}
@keyframes move-2 {
  50% {
    transform: translateY(35px);
  }
}
header img:nth-child(3) {
  bottom: 0.3vw;
  opacity: 0.2;
  animation: move-3 3.5s infinite;
}
@keyframes move-3 {
  50% {
    transform: translateY(25px);
  }
}
header img:nth-child(4) {
  bottom: 0.1vw;
  opacity: 0.3;
  animation: move-4 3s infinite;
}
@keyframes move-4 {
  50% {
    transform: translateY(20px);
  }
}

