*{
    margin: 0;
    padding: 0;
}

body{ 
    background-image: url(background.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}
.container{
    display: flex;
    justify-content: flex-start;
}
.container .element {
    width: 8.5em;
    height: 8.5em;
    margin: 5em;
}



/* h1{
    font-size: 50px;
    color: #801D1D;
}
.type{
    top: 120px;
    left: 575px;
    letter-spacing: 20px;
    opacity: 0;
    transition-duration: 3s;
    z-index: 2;
}
.type:hover{
    opacity: 1;
} */


