*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Stanberry;
    src: url(Stanberry.ttf);
}
@font-face{
    font-family: RammettoOne;
    src: url(RammettoOne-Regular.ttf);
}

body{ 
    background-image: url(background.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}
.container{
    display: flex;
    justify-content: flex-start;
}
.container .element {
    width: 8.5em;
    height: 8.5em;
    margin: 4.5em;
}



h1{
    font-size: 5em;
    color: #000000;
    font-family: RammettoOne;
}
h2{
    font-size: 3.8em;
    color: #000000;
    display: flex;
    justify-content: center;
    font-family: Stanberry;

}
.type{
    display: flex;
    justify-content: center;
    letter-spacing: 20px;
    opacity: 0;
    transition-duration: 3s;
    z-index: 2;
}
.type:hover{
    opacity: 1;
}





