* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    position: absolute;
    top: -2em;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
header #logo{
    color: #000000;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul{
    display: flex;
    justify-content: right;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration:none;
    color: #000000;
    padding: 6px 25px;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active{
    background-color: #fff;
    color: black;
}

ul, ol {
    list-style: none;
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

#canvas {
    display: block;
    /* 解决浏览器下拉刷新无法画问题 */
    position: fixed;
    top: 0;
    left: 0;
}

#actions {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 16px;
}
#actions .icon {
    margin: 0 8px;
    width: 2em;
    height: 2em;
    transition: all 0.3s;
}

#actions .icon.active {
    fill: purple;
    transform: scale(1.2)
}

.colors {
    position: fixed;
    top: 60px;
    left: 23px;
}
.colors > .color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    margin: 12px 0;
    transition: all 0.3s;
}
.colors > .color.active {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.9);
    transform: scale(1.2)
}

.sizes {
    position: fixed;
    right: 20px;
    top: 10px;
}
.sizes > .size {
    height: 0;
    width: 20px;
    margin: 15px 0;
    
}
.sizes > .thin {
    border-top: 3px solid black
}
.sizes > .thick {
    border-top: 10px solid black
}
.button{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #D7D7D7;
    padding-top: 3.5em;
    padding-bottom: 2em;
    padding-left: 1.5em;
}
.button a img {
    width: 100%; 
    height: auto; 
    max-width: 100%;
}


@media only screen and (min-width: 1152px) {
    .button a img {
        max-width: 80vw; 
    }
}

@media only screen and (min-width: 428px) {
    .button a img {
        max-width: 428px;
    }
}