* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* cursor: url('custom-cursor.png'), auto; */
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    overflow-x: hidden;
    scroll-behavior: smooth;
}

ul {
    width: 100%;
    height: 100%;
}

li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    text-decoration: none;
    /* deselect */
    user-select: none;
}

li:hover {
    background-color: #000000;
}


header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
header #logo{
    color: #000000;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul{
    display: flex;
    justify-content: right;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration:none;
    color: #000000;
    padding: 6px 25px;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active{
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

#canvas {
    display: block;
    /* Solve browser drop-down refresh can not draw problem */
    position: fixed;
    top: 0;
    left: 0;
}

#actions {
    position: fixed;
    top: 120px;
    left: 40px;
    padding: 16px;
}
#actions .icon {
    margin: 0 8px;
    width: 2em;
    height: 2em;
    transition: all 0.3s;
}

#actions .icon.active {
    fill: purple;
    transform: scale(1.2)
}
/* change the color of the brush */
.colors {
    position: fixed;
    top: 220px;
    left: 60px;
}
.colors > .color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    margin: 12px 0;
    transition: all 0.3s;
}
.colors > .color.active {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.9);
    transform: scale(1.2)
}
/* change the size of the brush */
.sizes {
    position: fixed;
    right: 60px;
    top: 160px;
}
.sizes > .size {
    height: 0;
    width: 20px;
    margin: 15px 0;
    
}
.sizes > .thin {
    border-top: 3px solid black
}
.sizes > .thick {
    border-top: 10px solid black
}
