*{
    padding:0;
    margin:0;
}
body{
    background-color: black;
    background-image: url(background.png);
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: url('custom-cursor.png'), auto;
    background-attachment: fixed;
}

.custom-cursor {
    cursor: url('custom-cursor.png'), auto;
  }

  header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-sizing: border-box;
}
header #logo{
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration:none;
    color: #fff;
    padding: 6px 25px;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active{
    background-color: #fff;
    color: #2b1065;
}

.book ul{
    position: relative;
    transition: 1s;
    transform-style: preserve-3d;
    perspective: 900px;
    list-style: none;
    width:240px;
    height:340px;
}
.book li{
    transform-origin: left;
    position:absolute;
}
.book li img{
    width:550px;
    height:400px;
    box-shadow: 1px 4px 5px rgba(0,0,0,0.2);
}
.book li:nth-of-type(1){
    transform: rotateY(-28deg);
    transition: 2.6s;
}
.book li:nth-of-type(2){
    transform: rotateY(-24deg);
    transition: 2.2s;
}
.book li:nth-of-type(3){
    transform: rotateY(-20deg);
    transition: 1.8s;
}
.book li:nth-of-type(4){
    transform: rotateY(-16deg);
    transition: 1.4s;
}
.book li:nth-of-type(5){
    transform: rotateY(-12deg);
    transition: 1s;
}
.book li:nth-of-type(6){
    transform: rotateY(-8deg);
    transition: 0.6s;
}
.book li:nth-of-type(7){
    transform: rotateY(-4deg);
    transition: 0.2s;
}
.book ul:hover li:nth-of-type(1){
    transform:rotateY(-180deg);
    transition: 1.4s;
}
.book ul:hover li:nth-of-type(2){
    transform:rotateY(-180deg);
    transition: 2s;
}
.book ul:hover li:nth-of-type(3){
    transform:rotateY(-180deg);
    transition: 2.6s;
}
.book ul:hover li:nth-of-type(4){
    transform:rotateY(-180deg);
    transition: 3.2s;
}
.book ul:hover li:nth-of-type(5){
    transform:rotateY(-180deg);
    transition: 3.8s;
}
.book ul:hover li:nth-of-type(6){
    transform:rotateY(-180deg);
    transition: 3.9s;
}
.book ul:hover{
    transform: translateX(100px);
}

.button{
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
    padding-bottom: 0.5em;
    /* padding-left: 1.5em; */
    align-items: flex-end;

}
.button a img {
    width: 100%; 
    height: auto; 
    max-width: 100%;
}



@media only screen and (min-width: 1152px) {
    .button a img {
        /* max-width: 80vw;  */
    }
}

@media only screen and (min-width: 428px) {
    .button a img {
        /* max-width: 428px; */
    }
}
